# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python environment files
.env
.env.*

# Test / coverage
.coverage
htmlcov/
.pytest_cache/