{% load staticfiles %}
<div style="width:1050px; height:150px; color:#FFFFFF; margin:auto; ">

<div style="width:100%; float:left; height:150px; color:#FFFFFF; border:#00FF66 0px solid; ">









      <table style="width:250px; margin-top:80px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF; font-size:14px; height:auto; border:1px s #FFFFFF;">



  <tr><td  style="font-size:10px;">Copyright@ addf BANK</td> <td><img src="{% static 'images/facebook.png' %}"  /></td><td><img src="{% static 'images/twitter.png' %}"  /></td></tr>


  </table>  </div>





</div>








</div>

