
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>addf</title>

<link href="{% static 'css/style.css' %}" rel="stylesheet" />

</head>

<body style="background-color:#050F7E;">



<div style="width:1048px; height:120px; font-size:44px; font-style:italic; color:#FFFFFF; margin:auto;">

   <p style="margin-top:60px; " ><center><b>Online Fraud Detection</b>	</center>  </p>

 </div>



<div style="width:1048px; height:500px; margin-top:0px; margin:auto;">

	<center><form action="adminloginvalidator" method="post" name="form">
	{% csrf_token %}

<table width="523" height="144" border="1" class="text" style="background-color:#323230; margin-top:100px;">

  <tr>

    <td width="158">Admin Name:</td>

    <td width="349"><input type="text" name="name" id="name"  style=" margin-left:70px;" required></td>

  </tr>

  <tr>

    <td> Admin Password:</td>

    <td><input type="password" name="password" id="password" style=" margin-left:70px;" required/></td>

  </tr>

  <tr>



    <td colspan="2"><input type="submit" name="login" id="login" value="Submit" onclick="alogin()" style=" margin-left:150px;background-color:#0033FF; width:70px;border-radius: 0px 10px 0px 10px;"/></td>





  </tr>

</table>
<div class="col-xl-12" >
			 	<h4 style="color:red;" align="center">{{message}}</h4>
			</div>


</form>

</center>



</div>

</div>

</body>

</html>