<div style="width:200px; height:auto; float:left; margin:auto;color:#271CFB; border:1px #CCCCCC solid;background-color:#CFCFCF;">

<table >

 <tr><td>





 <a href="adminhome" style="text-decoration:none; color:#000000;">

 Logout</a></td></tr>


 <tr><td><a href="viewcus" style="text-decoration:none; color:#000000;">ViewCustomers</a></td></tr>
  <tr><td><a href="viewpayment" style="text-decoration:none; color:#000000;">ViewPayment</a></td></tr>.

   <tr><td><a href="viewfeedback" style="text-decoration:none; color:#000000;">View Feedback</a><hr /></td></tr>
 </table>


<table style="border:0px solid #330033; margin-top:40px;">



<tr><td><a href="insert" style="text-decoration:none; font-size:20px;">Product</a></td></tr>

   </table>









</div>