{% load staticfiles %}
<div style="height:30px; width:1000px; border:0px solid #000000;">

<script type="text/javascript">

			var leftrightslide = new Array();

					leftrightslide[0]='<a > <img src="{% static 'images/canon.jpg' %}"></a>'

					leftrightslide[1]='<a > <img src="{% static 'images/aoc.jpg' %}"></a>'

					leftrightslide[2]='<a > <img src="{% static 'images/blackberry.jpg' %}"></a>'

					leftrightslide[3]='<a > <img src="{% static 'images/bajaj.jpg' %}"></a>'

					leftrightslide[4]='<a> <img src="{% static 'images/canon.jpg' %}"></a>'

					leftrightslide[5]='<a > <img src="{% static 'images/compas.jpg' %}"></a>'

					leftrightslide[6]='<a > <img src="{% static 'images/daikin.jpg' %}"></a>'

					leftrightslide[7]='<a > <img src="{% static 'images/dell.jpg' %}"></a>'

					leftrightslide[8]='<a > <img src="{% static 'images/electrolux.jpg' %}"></a>'

					leftrightslide[9]='<a > <img src="{% static 'images/faber.jpg' %}"></a>'

					leftrightslide[10]='<a ><img src="{% static 'images/forbes.jpg' %}"></a>'

					leftrightslide[11]='<a > <img src="{% static 'images/fujifilm.jpg' %}"></a>'

					leftrightslide[12]='<a > <img src="{% static 'images/godreg.jpg' %}"></a>'

					leftrightslide[13]='<a > <img src="{% static 'images/hcl.jpg' %}"></a>'

					leftrightslide[14]='<a > <img src="{% static 'images/hitachi.jpg' %}"></a>'

					leftrightslide[15]='<a > <img src="{% static 'images/ifb.jpg' %}"></a>'

					leftrightslide[16]='<a > <img src="{% static 'images/joquar (1).jpg' %}"></a>'

					leftrightslide[17]='<a > <img src="{% static 'images/kelvinator.jpg' %}"></a>'

					leftrightslide[18]='<a > <img src="{% static 'images/kenstar.jpg' %}"></a>'

					leftrightslide[19]='<a > <img src="{% static 'images/kent.jpg' %}"></a>'

					leftrightslide[20]='<a > <img src="{% static 'images/kodak.jpg' %}"></a>'

					leftrightslide[20]='<a ><img src="{% static 'images/lenovo.jpg' %}"></a>'

					leftrightslide[21]='<a > <img src="{% static 'images/lg.jpg' %}"></a>'

					leftrightslide[22]='<a ><img src="{% static 'images/milagrow.jpg' %}"></a>'

					leftrightslide[23]='<a ><img src="{% static 'images/mitashi.jpg' %}"></a>'

					leftrightslide[24]='<a > <img src="{% static 'images/olympus.jpg' %}"></a>'

					leftrightslide[24]='<a > <img src="{% static 'images/morphurichards.jpg' %}"></a>'





		</script>







<script type="text/javascript" src="{% static 'js/clients.js' %}"></script>









</div>

